/* General Styling for the ExploreMenu Section */
.explore-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2rem 0;
}

.explore-menu-title {
    color: #2c3e50;
    font-weight: 500;
    text-align: center;
}

.explore-menu-description {
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
    color: #7f8c8d;
}

/* Styling for the List of Menu Items */
.explore-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin: 20px 0;
}

/* Hides the scrollbar for a cleaner look */
.explore-menu-list::-webkit-scrollbar {
    display: none;
}

/* Styling for an Individual Menu Item */
.explore-menu-list-item {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.explore-menu-list-item:hover {
    transform: scale(1.05);
}

.explore-menu-list-item-image {
    width: 8vw;
    min-width: 80px;
    border-radius: 50%;
    transition: border 0.2s ease-in-out;
    cursor: pointer;
}

.explore-menu-list-item-name {
    margin-top: 10px;
    color: #34495e;
    font-size: max(1.4vw, 16px);
}

/* Active/Hover state for the image */
.explore-menu-list-item:hover .explore-menu-list-item-image {
    border: 3px solid #e67e22;
    padding: 2px;
}
.explore-menu-list-item p {
    margin-top:14px;
}
.explore-menu hr{
    margin:10px 0;
    height: 2px;
    border:none;
    background:#e2e2e2;
}